@font-face {
    font-family: 'medio';
    src: url('fonts/medio-webfont.woff2') format('woff2'),
         url('fonts/medio-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zefani';
    src: url('fonts/zefani_uppercase_demo-regular-webfont.woff2') format('woff2'),
         url('fonts/zefani_uppercase_demo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cursive-font';
    src: url('fonts/a_perfect_place_-_otf-webfont.woff2') format('woff2'),
         url('fonts/a_perfect_place_-_otf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}



* {
    margin: 0;
    padding: 0;
}

#content {
    height: 100vh;
    width: 100%;
    max-width: 100%;
}

.homepage-background {
    position: absolute;
    background-image: url('images/andrew-seaman-sQopSb2K0CU-unsplash.jpg');
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    line-height: 75px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 55px;
    font-family: 'medio';
    margin-left: 20px;
}

.headerContent {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 0;
    font-family: 'medio';
    font-size: 25px;
    font-weight: 550;
}

.tab {
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.pageContent {
    height: auto;
    width: auto;    
    position: relative;
    text-align: center;
}

.homepage-content {
    color: white;
    font-family: 'cursive-font';
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 20vh;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 7px 10px rgba(0, 0, 0, 0.4);
    font-weight: 400;
    padding: 60px 20px 60px 20px;
}

.home-sub {
    margin-top: 10px;
    font-size: 30px;
    font-style: italic;
    font-family: 'medio';
    font-weight: 700;
}

.menu-button {
    margin-top: 35px;
    padding: 4px 15px 0px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid whitesmoke;
    border-radius: 5px;
    color: white;
    font-family: 'medio';
    font-size: 30px;
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, .3);
}

.menu-button:active{
    transform: scale(.96);
}